{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "arrowParens": "avoid",
    "overrides": [
        {
            "files": "*.tsx",
            "options": {
                "parser": "jsdoc-parser"
            }
        }
    ]
}
